<?xml version="1.0" encoding="UTF-8"?>

<launch>
	<!-- Robot pose -->
	<arg name="x" default="0"/>
	<arg name="y" default="0"/>
	<arg name="z" default="0"/>
	<arg name="roll" default="0"/>
	<arg name="pitch" default="0"/>
	<arg name="yaw" default="0"/>
	<arg name="robot_name" default="atom"/>

    <!-- Launch Gazebo with an empty world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">

     <arg name="world_name" value="$(find fredbots)/worlds/simple_maze.world"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>

    </include>

	<param name="robot_description_atom1" command="$(find xacro)/xacro '$(find fredbots)/src/atom/urdf/atom.xacro'" />

  <!-- BEGIN ROBOT 1-->
  <group ns="atom1">
    <param name="tf_prefix" value="atom1_tf" />
    <include file="$(find fredbots)/launch/spawn.launch" >
      <arg name="init_pose" value="-x 1 -y 1 -z 0" />
      <arg name="robot_name"  value="atom1" />
    </include>
  </group>

	<param name="robot_description_atom2" command="$(find xacro)/xacro '$(find fredbots)/src/atom/urdf/atom_2.xacro'" />

  <!-- BEGIN ROBOT 2-->
  <group ns="atom2">
    <param name="tf_prefix" value="atom2_tf" />
    <include file="$(find atom)/launch/spawn.launch" >
      <arg name="init_pose" value="-x -1 -y 1 -z 0" />
      <arg name="robot_name"  value="atom2" />
    </include>
  </group>

</launch>
