<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="robot_name"/>
    <arg name="init_pose"/>

    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
     args="$(arg init_pose) -urdf -param /robot_description_$(arg robot_name) -model $(arg robot_name)"
     respawn="false" output="screen" />

    <node pkg="robot_state_publisher" type="robot_state_publisher" 
          name="robot_state_publisher" output="screen"/>

    <node pkg="joint_state_publisher" type="joint_state_publisher" 
          name="joint_state_publisher">

        <param name="use_gui" value="true"/>
        
    </node>

    <!-- The odometry estimator, throttling, fake laser etc. go here -->
    <!-- All the stuff as from usual robot launch file -->
</launch>