<launch>
    <!-- Launch Gazebo with an empty world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>

    <!-- Spawn the Atom wheeled robot in Gazebo -->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model wheeled_robot -param robot_description">
        <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find fredbots)/src/atom/urdf/atom.xacro'" />
    </node>

    <!-- Launch RViz for sensor visualization -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find fredbots)/src/atom/default.rviz"/>

    <!-- Run the atom_move.py node -->
    <node name="atom_move_node" pkg="fredbots" type="atom_move.py" output="screen"/>

    <param name="use_sim_time" value="true"/>

    <!-- Start the robot_state_publisher -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" />
    <node name="atom1_tf_broadcaster" pkg="tf2_ros" type="static_transform_publisher"  args="0 0 0 0 0 0 odom world" />

</launch>
